:root{
    --color-orange: #FF7800;
    --text-strong-green: #006736;
    --title-green: #005A32;


    --color-font-strong-green: #006D35;
    --btn-1-green: #43FF50;
    --text-green: #3EB246;
    --text-general: #323232;

    --color-bg-gradient-1: #1ED30D;
    --color-bg-gradient-2: #17BF71;
    --about-bg: #074E32;

    --btn-2-green: #3EB246;   
    --color-gradient-btn-1: #4AC34A;
    --color-gradient-btn-2: #005A32;
    --yellow-font-btn: #9DFF00;

    --green-video-section: #3A873A;

    --font: "Montserrat", sans-serif;
    --font-2: "Sansita Swashed", system-ui;
}

body{
    max-width: 3000px;
    width: 100%;
}