.SecuritySection {
    width: 100%;
    height: 100vh;
    background: url("../../assets/bg-section.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    .Nothing {
        width: 50%;
    }

    .TextContainer {
        width: 50%;
        padding-left: 20px;

        div {
            width: 337px;
            height: 125px;
            margin-bottom: 200px;

            h2 {
                text-align: start;
            }

            p {
                text-align: start;
                margin-top: 15px;

                span {
                    color: var(--color-orange);
                    font-weight: 700;
                }
            }
        }
    }

    @media (max-width: 500px) {
        height: 60vh;
        flex-direction: column;
        background: url("../../assets/security-2.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        .Nothing {
            width: 100%;
            margin-bottom: 20px;
        }

        .TextContainer {
            width: 100%;
            padding-left: 0;

            div {
                width: 90%;
                height: auto;
                margin: 0 auto;
                margin-top: 0px;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    line-height: 20px;
                }
            }
        }
    }
}