.VideoSection {
    width: 100%;
    display: flex;
    justify-content: center;

    .VideoContainer {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .VideoLeft {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .Text1 {
                font-family: var(--font);
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 30px;
            }

            .Line {
                background: var(--color-orange);
                width: 40%;
                height: 6px;
                border-radius: 12px;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .Text2 {
                font-family: var(--font-2);
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 32px;
                color: var(--title-green);

                span {
                    color: var(--color-orange);
                }
            }
        }

        .VideoRight {
            width: 50%;

            iframe {
                width: 100%;
            }
        }
    }

    @media(max-width: 1200px) {
        .VideoContainer {
            width: 100%;
            flex-direction: column;

            .VideoLeft {
                width: 90%;
                margin-bottom: 20px;
                align-items: center;
                justify-content: center;

                .Line {
                    width: 90%;
                }
            }

            .VideoRight {
                width: 100%;
            }
        }
    }
}